<!-- Footer -->
<footer class="bg-white">
    <div class="max-w-7xl mx-auto py-12 px-4 overflow-hidden sm:px-6 lg:px-8">
        <nav class="-mx-5 -my-2 flex flex-wrap justify-center" aria-label="Footer">
            <div class="px-5 py-2">
                <a href="#" class="text-base text-gray-500 hover:text-gray-900">Home</a>
            </div>
            <div class="px-5 py-2">
                <a href="#features" class="text-base text-gray-500 hover:text-gray-900">Features</a>
            </div>
            <div class="px-5 py-2">
                <a href="#benefits" class="text-base text-gray-500 hover:text-gray-900">Benefits</a>
            </div>
            <div class="px-5 py-2">
                <a href="#pricing" class="text-base text-gray-500 hover:text-gray-900">Pricing</a>
            </div>
            <div class="px-5 py-2">
                <a href="#contact" class="text-base text-gray-500 hover:text-gray-900">Contact</a>
            </div>
            <div class="px-5 py-2">
                <a href="#" class="text-base text-gray-500 hover:text-gray-900">Privacy Policy</a>
            </div>
            <div class="px-5 py-2">
                <a href="#support" class="text-base text-gray-500 hover:text-gray-900">Support Centre</a>
            </div>
        </nav>
        <p class="mt-8 text-center text-base text-gray-400">
            &copy; 2025 CommunIT. All rights reserved.
        </p>
    </div>
</footer>
